<h1>Index</h1>

<pre>Hello World!</pre>

<a href="/demo/hello">Hello Page 1</a>
<%= link_to('Hello Page 2', {:action => 'hello'}) %>

<%= link_to('Hello with Params', {:action => 'hello', :page => 5, :id => 20}) %>